<!doctype html>
<html>

<head>
  <script src="../public/p5/p5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/css/vcs.min.css">
  <meta charset="utf-8">
  <title>VISUAL COMPUTER SCIENCE</title>
</head>


<body>
  <header>
    <a class="home" href="./vcs.html">VISUAL COMPUTER SCIENCE</a>
    <a class="home" href="../index.html">JadeScape</a>
  </header>
  <aside>
  <nav class="vcsmenu">
    <ul >
      <li class="accordion"><a href="../vcs/basic_statements/index.html">basic statements</a></li>
      <ul class="panel">
        <li><a href="../vcs/basic_statements/if.html">if</a></li>
        <li><a href="../vcs/basic_statements/for.html">for</a></li>
        <li><a href="../vcs/basic_statements/while.html">while</a></li>
      </ul>
      <li class="accordion"><a href="../vcs/c/cpointer.html">pointers in C</a></li>
      <li class="accordion"><a href="../vcs/datastructure/index.html">data structure</a></li>
    </ul>
  </nav>
</aside>

<h2 class="demo">--Work on Progress--</h2>
<p>The VCS(Visual Computer Science) project is on progress.<br>
  You can go back to the main page(<a href="../index.html">JadeScape</a>).<br>
  However, the demo page is made<a href="../vcs/basic_statements/index.html">(basic statements)</a>, so you can visit there instead.<br><br>
All works will be made with CSS & P5js, and will include small interactions to explain concepts of computer science.</p>


</body>

</html>