<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>JadeScape</title>
  <link rel="stylesheet" type="text/css" href="../public/css/index.css">
</head>

<body>

  <!-- menu bar -->

  <header>
    <h2><a href="../index.html">JadeScape</a></h2>

    <nav class="menu">
      <ul class="menu-main">
        <li><a href="../views/about.html">About</a></li>
        <li><a href="../views/works.html">Works</a></li>
        <li><a href="../views/contact.html">Contact</a></li>
      </ul>
      <ul class="vcs">
        <li><a class="vcs" href="../views/vcs.html">VISUAL COMPUTER SCIENCE</a></li>
      </ul>
    </nav>
  </header>



</body>


</html>