<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>JadeScape</title>
  <link rel="stylesheet" type="text/css" href="../public/css/index.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/works.min.css">
</head>

<body>

  <!-- menu bar -->

  <header>
    <h2><a href="../index.html">JadeScape</a></h2>

    <nav class="menu">
      <ul class="menu-main">
        <li><a href="../views/about.html">About</a></li>
        <li><a href="../views/works.html">Works</a></li>
        <li><a href="../views/contact.html">Contact</a></li>
      </ul>
      <ul class="vcs">
        <li><a class="vcs" href="../views/vcs.html">VISUAL COMPUTER SCIENCE</a></li>
      </ul>
    </nav>
  </header>

  <section class="container">
    <div class="gallery">
      <a href="../works/bbangbbang/index.html">
        <img src="../works/bbangbbang/index.png" width="600" height="400">
        <div class="desc">Traffic Safety Class with Ttuiya & Bbangya</div>
      </a>
    </div>

    <div class="gallery">
      <a href="../works/dominantmotion/index.html">
        <img src="../works/dominantmotion/index.png">
        <div class="desc">Domniant Motion</div>
      </a>
    </div>

    <div class="gallery">
      <a href="../works/egg/index.html">
        <img src="../works/egg/index.png">
        <div class="desc">Sogang Town Project-<br>The Egg</div>
      </a>

    </div>

    <div class="gallery">
      <a href="../works/macbak/index.html">
        <img src="../works/macbak/index.png">
        <div class="desc">"Macbak" Music Culture Research Group</div>
      </a>

    </div>

    <div class="gallery">
      <a href="../works/melancholy/index.html">
        <img src="../works/melancholy/index.png">
        <div class="desc">Melancholy! Sadness! Hatred!</div>
      </a>

    </div>

    <div class="gallery">
      <a href="../works/needforsound/index.html">
        <img src="../works/needforsound/index.png">
        <div class="desc">Need For Sound</div>
      </a>

    </div>

    <div class="gallery">
      <a href="../works/musicalexperiments/index.html">
        <img src="../works/musicalexperiments/soundofplants/index.jpg">
        <div class="desc">Musical Experiments</div>
      </a>
    </div>



  </section>





</body>


</html>