$navbar-color: rgba(30, 30, 30, 0.7);
$hover-color: rgba(17, 17, 17, 0.7);
$border-color: rgba(128, 128, 128, 0.3);
$page-color: #282c34;
$font-color: #abb2bf;
@import url('https://fonts.googleapis.com/css?family=Fira+Code|Libre+Barcode+128+Text&display=swap');

body {
  background-color: $page-color;
  color: $font-color;
  font-family: 'Noto Sans KR', sans-serif;  
}

header {
  display: flex;
  flex-flow: nowrap;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;

  a {
    display: block;
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    color: $font-color;
  }

  nav {
    background-color: $navbar-color;
    display: flex;
    flex-grow: 2;
    flex-flow: nowrap;
    justify-content: space-between;
    font-family: 'Fira Code', monospace;

    :target {
      background-color: $page-color;
      border-left: 2px solid rgb(59, 103, 173);
    }

    ul {
      list-style: none;
      border-left: 2px solid $border-color;
      display: flex;
      padding: 0;
      margin: 0;

      li a:hover {
        background-color: $hover-color;
      }
    }

    .menu-main {
      flex-grow: 2;
    }

    .vcs {
      flex-grow: 0;
      justify-content: flex-end;

      a {
        color: violet;
      }
      a:hover{
          background-color:#f7f0eb;  
      }
    }
  }

  h2 {
    margin: 0;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 52px;
    background-color: rgba(0,0,0,0);

    a {
      padding: 2px 20px;
      color: white;
    }
  }
}

article{
  h2, p{
    font-family: 'Noto Sans KR', sans-serif;  
  }
}
section{
ul, li, a{
  font-family: 'Noto Sans KR', sans-serif;    
}  
}

.main {
  scroll-snap-type: y mandatory;
  scroll-padding: 50%;

  section {
    position: relative;
    scroll-snap-align: start;

    img {
      width: 100%;
      
    }
    
    .bbang{
      filter: blur(2px);
    }

    .caption {
      font-family: 'Fira Code', monospace;
      position: absolute;
      top: 10px;
      left: 0px;
      right: 15%;
      padding: 10px;
      background-color: rgba(0,0,0,0.7);
      color: white;
    }
  }
}


@media only screen and (max-width: 1100px) {

  header {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 5px;
      margin: 0;
      text-decoration: none;
      color: $font-color;
    }

    nav {
      background-color: $navbar-color;
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;
      font-family: 'Fira Code', monospace;

      :target {
        background-color: $page-color;
        border-left: 2px solid rgb(59, 103, 173);
      }

      ul {
        list-style: none;
        border-left: 2px solid $border-color;
        display: flex;
        padding: 0;
        margin: 0;

        li a:hover {
          background-color: $hover-color;
        }
      }

      .vcs {
        flex-grow: 0;
        justify-content: flex-end;

        a {
          color: violet;
        }
        a:hover{
            background-color:#f7f0eb;  
        }
      }
    }

    h2 {
      margin: 0;
    font-family: 'Libre Barcode 128 Text', cursive;
      font-size: 28px;
      background-color: rgba(0,0,0,0);

      a {
        padding: 2px 20px;
        color: white;
      }
    }
  }

}