$navbar-color: rgba(70, 70, 70, 0.3);
$hover-color: rgba(160, 160, 160, 0.7);
$border-color: rgba(128, 128, 128, 0.3);
$page-color: #f7f0eb;
$font-color: #34407b;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Fira+Code|Libre+Barcode+128+Text&display=swap');

body {
  background-color: $page-color;
  color: $font-color;
  font-family: 'Noto Sans KR', sans-serif;  
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;

  a {
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    color: $font-color;
  }
}

aside {
  width: 200px;

  a {
    margin: 0;
    text-decoration: none;
    color: $font-color;
  }

  nav {
    background-color: $navbar-color;
    font-family: 'Fira Code', monospace;

    :target {
      background-color: $page-color;
      border-left: 2px solid rgb(59, 103, 173);
    }

    ul {
      list-style: none;
      border-left: 2px solid $border-color;
      padding: 10px;
      margin: 0;

      li {
        padding: 5px;

        a:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

section{

ul {
  list-style: none;
  padding: 10px;
  margin: 0;

  li {
    padding: 5px;

    a {
      text-decoration: none; 
      color: $font-color;
    }
  }
}
}