$navbar-color: rgba(30, 30, 30, 0.7);
$hover-color: rgba(17, 17, 17, 0.7);
$border-color: rgba(128, 128, 128, 0.3);
$page-color: #282c34;
$font-color: #abb2bf;
@import url('https://fonts.googleapis.com/css?family=Fira+Code|Libre+Barcode+128+Text&display=swap');

body {
  background-color: $page-color;
  color: $font-color;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;

  a {
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    color: $font-color;
  }
}

aside {
  width: 200px;

  a {
    margin: 0;
    text-decoration: none;
    color: $font-color;
  }

  nav {
    background-color: $navbar-color;
    font-family: 'Fira Code', monospace;

    :target {
      background-color: $page-color;
      border-left: 2px solid rgb(59, 103, 173);
    }

    ul {
      list-style: none;
      border-left: 2px solid $border-color;
      padding: 10px;
      margin: 0;

      li {
        padding: 5px;

        a:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}