$navbar-color: rgba(30, 30, 30, 0.7);
$hover-color: rgba(17, 17, 17, 0.7);
$border-color: rgba(128, 128, 128, 0.3);
$page-color: #282c34;
$font-color: #abb2bf;
@import url('https://fonts.googleapis.com/css?family=Fira+Code|Libre+Barcode+128+Text&display=swap');


section {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}


.container{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  
div.gallery {
  margin: 5px;
  border: 1px solid $border-color;
  float: left;

  :hover{
  color: white;
  }
  
  img {
    width: 220px;
    height: 160px;
    object-fit: cover;
  }
  
  a {
    display: block;
    color: $font-color;
    text-decoration: none;
    width: 220px;
    height: 220px;
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    :hover{
    border: none;  
    }
  }

  desc {
    width: 200px;
    height: 100px;
    word-wrap: break-word;
  }
}
}