@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Fira+Code|Libre+Barcode+128+Text&display=swap');


* {
  box-sizing: border-box;
}
/* Slideshow container */
#explainheader{
display: flex;
font-family: 'Fira Code', monospace;
  
}
h2{
font-family: 'Fira Code', monospace;
}

#explanation{
display: flex;
justify-content: top;  
  flex-flow: wrap;  
}

#slideshow {
  width: 400px;
}

#contents {
  width: 400px;
  height: 300px;
  background-color: #111;
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  border: 4px solid #fff;
  display: flex;
  justify-content:center;
  align-items:center;
  img {
    text-align: center;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.info, .description{
  
margin: 20px;  
}


.description{
font-family: 'Noto Sans KR', sans-serif;  
}
/* Next & previous buttons */
.next,
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
left: 0;  
}
/* On hover, add a black background color with a little bit see-through */
.next:hover,
.prev:hover {
  background-color: rgba(0,0,0,0.8);
}

#dot{
  text-align: center;  
}

/* The dots/bullets/indicators */
.dot {

  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}